<section class="order-form-container py-3">
  <div class="container-fluid">
    <div class="row mt-2 mb-3">
      <h1>Thank you for your order!</h1>
    </div>

    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <img
          src="assets/images/yak-happy-dance.jpg"
          class="card-img-top"
          alt="Milk"
        />
        <div class="card-body">
          <button type="button" class="btn btn-outline-light" routerLink="/">
            Return to the home page
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
