div.banner-ad.large {
  background-color: #b3e4f3;
}

.banner-blocks-container {
  background-image: url("assets/images/background-pattern.png");
  background-size: contain;
  background-repeat: repeat;
}
